@tailwind base;
@tailwind components;
@tailwind utilities;

.task-list-item:before {
  @apply hidden;
}

html {
  scroll-behavior: smooth;
}

/* https://stackoverflow.com/questions/61083813/how-to-avoid-internal-autofill-selected-style-to-be-applied */
input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition: background-color 600000s 0s, color 600000s 0s;
}

select {
  border-color: rgb(203 213 225);
  border-radius: 5px;
}

.dark .dark\:bg-dark {
  background-color: #1a202c;
}

.logo image {
  width: 60px;
  height: 60px;
}

.newsletter-head form {
  flex-direction: column !important;
}

.newsletter-head .newsletter-btn {
  margin-left: 0;
  margin-top: 0.5rem;
}
.newsletter-head .newsletter-btn button {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
